/* * Assegura que el contenidor de la columna de dia tingui posició relativa
 * perquè els esdeveniments posicionats de forma absoluta es mantinguin dins.
*/
.rbc-day-slot .rbc-event-content {
    white-space: normal !important;
    word-wrap: break-word !important;
}
.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
    position: relative !important;
    width: 95% !important;
    margin-bottom: 5px !important;
    left: 2.5% !important;
    right: 2.5% !important;
    top: auto !important;
    height: auto !important;
    min-height: 25px; /* Una alçada mínima per a esdeveniments curts */
}

/* * Elimina l'alçada fixa de les files de temps per permetre que creixin 
 * verticalment segons el contingut.
*/
.rbc-time-content > .rbc-time-slot,
.rbc-time-slot {
    height: auto !important;
    min-height: 40px; /* Mantenim una alçada mínima per a les hores buides */
}



/* * Ajusta l'estil de l'indicador "now" (la línia de l'hora actual)
 * per assegurar que es mostri correctament amb la nova estructura flexible.
*/
.rbc-time-view .rbc-current-time-indicator {
    z-index: 1;
}

/* * 🎯 NOU: Ocultar la columna d'hores (gutter)
 *
 * Amaguem la columna lateral d'hores a les vistes 'week' i 'day'.
 * Això només afecta les vistes de graella de temps i no les vistes 'month' o 'agenda'.
 */
.rbc-time-gutter {
  display: none !important;
}